body {
    background-image: url('../images/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-size: 14px;
    min-height: 100vh;
    color: #F5F5F5;
}

h1 {
    color: #F5F5F5 !important;
}

p {
    color: rgb(230, 230, 230);
}

button :focus :active {
    outline: 0;
    border-width: 0;
}

.ui-widget {
    /* jQueryUI autocomplete */
    font-family: 'Raleway', sans-serif;
    font-size: 0.8em
}

.ui-tooltip {
    /* jQueryUI tooltip */
    color: #1495EC;
    font-size: 14px;
    font-weight: bold;
}

.search {
    padding-top: 100px;
}

#searchBox {
    width: 50%;
    height: 40px;
}

#searchBtn {
    border-radius: 50px;
    height: 40px;
    width: 100px;
}

.output {
    /* for the loading screen */
    display: none;
    padding-top: 50px;
}

.animated {
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.preload {
    padding-top: 40%;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.card {
    width: 90%;
    border-radius: 50px;
}

.card-li {
    padding: 5px;
}

.clearable {
    background: #fff url(http://i.stack.imgur.com/mJotv.gif) no-repeat right -10px center;
    border: 1px solid #999;
    padding: 3px 18px 3px 4px;
    border-radius: 3px;
    transition: background 0.4s;
}

.clearable.x {
    background-position: right 10px center;
}

.clearable.onX {
    cursor: pointer;
}

.clearable::-ms-clear {
    display: none;
    width: 0;
    height: 0;
}

footer {
    background-color: rgba(0, 0, 0, 0.308);
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    margin: 0 auto;
}