.ui-widget {
    /* jQueryUI autocomplete */
    font-family: 'Raleway', sans-serif;
    font-size: 0.8em
}

.ui-tooltip {
    /* jQueryUI tooltip */
    color: red;
}

#searchBox {
    border-radius: 50px;
}

#searchBtn {
    border-radius: 50px;
}

#output {
    /* for the loading screen */
    display: none;
}

.preload {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.card {
    width: 200px;
}

.card-img-top {
    width: 200px;
}